body
{
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: purple;
    display: grid;
    grid-template-columns: 13% 27% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;

}
main
{
    background-color: rgba(0, 255, 255, 0.736);
    grid-area: 1/2/9/6;
    
}
.signup
{
    margin: 0;
    font-size: 90px;
    grid-area: 1/5/1/5;
    padding-left: 50px;
}
nav
{
    margin-top: -17px;
    background-color: rgba(255, 0, 0, 0.604); 
    grid-area: 1/1/6/1;
}
.bar
{
    margin: 0;
    margin-top: -40px;
    margin-bottom: -40px;
}
ul
{
    list-style-type: none;
    margin-left: -20px;
    font-size: 150%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}